:root {

  --body-bk: #17171a;
  --mobile-width: 500px;
  --content-max-width: 700px;
  --scroll-distance: 0;
  /* --font-family: 'Lato', serif;
  --sl-font-sans: var(--font-family); */
  --app-font: 'Play', sans-serif;
  /* --header-bk: #004571; */
  --header-height: 3.25rem;
  /* --link-color: #009dff !important; */
  --content-height: calc(100vh - var(--header-height));
  /* --link-color: #ffd856 !important; */
  --block-bk: var(--grey);
  --block-radius: 0.5em;
  --block-shadow: 0 0 2px 0 inset rgba(255 255 255 / 10%), 0 1px 3px 0px rgba(0 0 0 / 0.4);
  /* 0 0 1px 0px inset rgba(255,255,255,0.2) */
  --grey: #232328;
  --grey-light: hsl(240 3% 23% / 1);
  --grey-lighter: hsl(240 3% 35% / 1);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: var(--body-bk);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  overflow-y: scroll;
}

html.sl-scroll-lock body {
  overflow-y: unset;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Custom Scrollbar styles for Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}
*::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}

*::-webkit-scrollbar-track:hover {
  background-color: #1d1d1d;
}

*::-webkit-scrollbar-track:active {
  background-color: #1d1d1d;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #3f3f3f;
  border: 3px solid #1d1d1d;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #606060;
}